# Terraform .terraform directory
.terraform/

# Terraform .terraform.lock.hcl file
.terraform.lock.hcl

# tfstate files
*.tfstate
*.tfstate.*

# .tfvars files that are used to override default values
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json

# Crash log files
crash.log

# Exclude CLI configuration files
cli.auto.hcl
cli.hcl

# Ignore sensitive information
*.pem
*.key
*.tfstate*

# Ignore .terraform directories for any included modules
**/.terraform/*

# Ignore override files as they are usually used to override resources locally and do not need to be pushed
override.tf
override.tf.json

# Ignore CLI configuration files
terraform.rc